/*
Relative: relative to its self: PARENT

absolute: align itslef to its parent ()Any thing whihc has relative. CHILD

*/
body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
#container {
    position: relative;

    height: 400px;
    width: 100%;
    border: 2px solid ;
    background-color: aliceblue;
    background: url('bg.png');
    background-size: contain;
    overflow: hidden;
}
#result{
  text-align: center;
}
#bird {
    position: absolute;
    background: url('fb.png');
    height: 42px;
    width: 65px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}

.wall {
    position: absolute;
    bottom: 0px;
    height: 100px;
    width: 50px;
    background-color: red;
    right: 50px;
}

#p1 {
    top: 0;
}

#p2 {
    bottom: 0;
}

#score {
    text-align: center;
    font-size: 40px;
}

#restart {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px;
    background-color: fuchsia;
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
    display: none;
}
